body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}
h1, h2, h3 {
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
button {
    background: #4c87af;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
}
button:hover {
    background: #4556a0;
}
a{
    color:#f4f4f4;
    text-decoration: none;
}
.example-container {
    margin-top: 30px;
}
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-x: auto;
}
/* Responsividade */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    table th, table td {
        padding: 6px;
    }
    button {
        padding: 8px 15px;
        font-size: 12px;
    }
    pre {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    table th, table td {
        font-size: 12px;
        padding: 4px;
    }
    button {
        width: 100%;
        text-align: center;
        font-size: 12px;
        padding: 10px;
    }
    pre {
        font-size: 12px;
        padding: 8px;
    }
}