@import url('./animacoes.css');
@import url('./resposividade.css');

/* Estilo geral das notificações */
#containerNotificacoes {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 80vh;
    z-index: -9999;
    transition: all 0.5s ease; 
}

.notificacao {
    width: 300px;
    height: 70px;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative; 
}

/* Truncar texto longo */
.conteudo-notificacao {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notificacao.top-right { right: 10px; }
.notificacao.top-left { left: 10px; }
.notificacao.bottom-right { right: 10px; }
.notificacao.bottom-left { left: 10px; }

.notificacao.mostra {
    opacity: 1;
    transform: translateY(0);
}

.botao-fechar {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Barra de progresso */
.barra-progresso {
    height: 5px;
    background-color: #5294e2;
    margin-top: 10px;
    width: 100%;
    border-radius: 0 0 4px 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: progresso 1s linear forwards;
}

@keyframes progresso {
    from { width: 100%; }
    to { width: 0%; }
}

