
/* Responsividade */
@media (max-width: 768px){
    #containerNotificacoes {
      top: 10px;
      right: 10px;
      left: 10px;
      bottom: 10px;
      gap: 8px;
    }

    .notificacao {
      width: 90%; 
      font-size: 14px;
    }

    .barra-progresso {
      height: 4px; 
    }
}

@media (max-width: 480px) {
    #containerNotificacoes {
      top: 5px;
      right: 5px;
      left: 5px;
    }

    .notificacao {
      width: 100%; 
      font-size: 12px; 
      padding: 12px;
    }
}